* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 25px;
}
.nav-bar-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-bar-container .nav {
  display: flex;
  flex: 1;
}
.nav-bar-container nav {
  display: flex;
  width: 100%;
  border: 1px solid blue;
}

.nav-bar-container nav ul {
  display: inline-block;
  width: 100%;

  text-align: right;
  border: 1px solid red;
}
.nav-bar-container nav ul li {
  height: fit-content;
  display: inline-block;
  margin-right: 20px;
}

p {
  color: #555;
}
a {
  text-decoration: none;
  color: #555;
}
.header .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col2 {
  flex-basis: 50%;
}

.col2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col2 h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 25px 0;
}

.col2 .explore-button {
  display: inline-block;
  margin: 20px;
  padding: 8px 30px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: tomato;
}

.header .row {
  margin-top: 70px;
}

.col2 .explore-button:hover {
  background-color: #567856;
}

.categories {
  margin: 70px 0px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
}
.col-3 img {
  max-width: 100%;
}

.small-categories {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
